.root {
  &.crescent-dashboard {
    --logo-color: #504747;
    --body-bg: #ffffff;
    --light-color: #353d3b;

    --sidebar-bg-color: rgb(219, 233, 241);
    --sidebar-color: #0a0303;
    --sidebar-action-bg: rgb(219, 233, 241);
    --sidebar-item-active: var(--light-color);
    --sidebar-badge-bg: #005792;

    --sidebar-nav-title-color: var(--light-color);

    --widget-shadow-color: 75, 102, 171;

    --navbar-bg: #fff;
    //--navbar-shadow: 0 15px 20px -20px rgba(var(--widget-shadow-color), 0.1), 0 0 15px rgba(var(--widget-shadow-color), 0.06);


    // dependable variables
    --sidebar-progress-bg-color: var(--sidebar-action-bg);
    --sidebar-icon-active: var(--sidebar-bg-color);
    --sidebar-item-hover-bg-color: var(--sidebar-action-bg);
    --widget-shadow: 4px 4px 30px rgba(var(--widget-shadow-color), 0.2);
  }
}
